{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}


{% block body %}
    <!-- Header -->
    <header>
        <section id="header">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Young Entreprenuers Convention</div>
                    <a href="https://www.facebook.com/sharkphil" class="page-scroll btn btn-xl">Go to our facebook page</a>
                </div>
            </div>
        </section>
    </header>


    <!-- contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact us</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Telephone</h4>
                    <p class="text-muted">+63 2 374-3636</p>
                    <p class="text-muted">+63 3 372-2464</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile</h4>
                    <p class="text-muted">+63 917 80-74275</p>
                    <p class="text-muted">+63 922 870-8777</p>
                    <p class="text-muted">+63 920 922-0324</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Email</h4>
                    <p class="text-muted">sharkphil@gmail.com</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Address</h4>
                    <p class="text-muted">VERSA VANTAGE TRADING</p>
                    <p class="text-muted">1013 EDSA, Project 7</p>
                    <p class="text-muted">Quezon City Philippines</p>
                </div>
            </div>
        </div>
    </section>

    <!-- accessories Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Car Accessories</h2>
                    <h3 class="section-subheading text-muted">Choose the make of your vehicle</h3>
                </div>
            </div>

            <div class="row">
                {% if make_list %}
                    {% for make in make_list %}

                        <div class="col-md-3 design-item col-sm-6 products-item">
                            <a href="#{{ make.id }}-modal" class="products-link" data-toggle="modal">
                                <div class="products-hover">
                                    <div class="products-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ MEDIA_URL }}{{ make.image }}" class="img-responsive" alt="">
                            </a>
                            <div class="products-caption">
                                <h4>{{ make.name }}</h4>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Versa Vantage is an all-Filipino Company engaged in the manufacturing and distribution of car accessories under the brand names "SHARK" and "SURESTEP". The company is a major player in the Philippine car accessory market and its products are well-known for their innovative, classy, but functional designs and exceptional quality.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/1.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1993</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The company's founder launched a unique product aptly called "DASHIELD", a multi-layered dashboard cover that has been granted a Philippine patent (Phil. Patent No. 26378). Its main function aside from aesthetically enhancing the appearance of a vehicle's dashboard is to maximize the efficiency of the car air-conditioning system. Since its launch in 1993, DASHIELD has since been considered as a standard accessory for most car vehicles.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/2.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">With the success of DASHIELD, other innovative car accessories were soon developed and introduced. Currently, Versa Vantage distributes a wide range of vehicle accessory products, such as stepboards, steptubes, roof caddies, bullbars, top roof carriers, cargo trays, side skirts, side mouldings, claddings, spoilers, console boxes, engine / aircon dust covers, among others.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/3.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The company's products have all been painstakingly designed developed to ensure that they are installed without any holes in the vehicle's body. The company is proud that most of its high-quality products have bested even their imported counterparts in terms of acceptablility in the Philippine market. The company now has over 100 dealers nationwide, and counts among these dealers, almost all major car dealers in the country. Its products are also in all major car accessory dealers nationwide.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/4.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Research and Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The company facilities are well equipped in handling metal-working (in stainless steel and aluminum bending, welding, pressing and polishing), vacuum forming, painting, fiberglass fabrication, mold making (foam and resin) sewing and other manufacturing processes. The company has a dynamic and aggressive R&D accessories that specializes in combining all of its facilities and technical know-how to come up with innovative products to compete in the fast-paced competitive market that it serves.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- products Grid Section -->
    <section id="form" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> Submit your Proposal</h2>
                    {% if wizard.steps.current == '0' %}
                        <h3 class="section-subheading text-muted">Application open only until October 18, 2014</h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-7">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          {{ message }}
                        </div>
                    {% endfor %}

                    {% if wizard.steps.current == '1' %}
                        You can skip this step if you are doing this by yourself.
                    {% endif %}

                    {% if wizard.steps.current == '2' %}
                    <p class="section-subheading text-muted">Keep in mind that this is your official entry, make sure to formulate clear and complete answers.</p>
                    <p class="section-subheading text-muted"><i>Tip: The judgeswill rely heavily on what you write and explain here. It is your job to catch their attention and keep them interested with your mobile app concept. If by the time they finish reading your entry, you leave them wanting to have your app developed-- then good job you! You just might be one to take home the grand prize.</i></p>
                    {% endif %}

                    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                    {% if wizard.steps.current == '0' %}
                        <p>First Applicant</p>
                    {% endif %}
                    {% if wizard.steps.current == '1' %}
                        <p>Second Applicant</p>
                    {% endif %}
                    <form action="/#form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {% bootstrap_form form %}
                            {% endfor %}
                        {% else %}
                            {% bootstrap_form wizard.form %}
                        {% endif %}
                        </table>
                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                        {% endif %}
                    <input type="submit" value="{% trans "submit" %}"/>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
